{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Instagram</title>
        

        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/basegram.css'%}">
            <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
        {% include "navbar.html" %}
        {% include 'sidenav.html' %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}

        {% block content %}
            <div class="contianer">
                    
            </div>
        {% endblock %}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>