{% extends 'insta/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{{block.super}}
    

        <div class="col-md-4">
            <hr>
            <hr>
            <img class="img-fluid" src="{{object.image.cdn_url}}" alt="">
            {% if object.account == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        
        <br><br>
        <hr>
        
        <div class="main-comment-section">
            {{ image.comment_set.all.count}} comments{{comments|pluralize}}

            
            {% for comment in image.comment_set.all%}

            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.content }}</p>
                <footer class="blockquote-footer">by <cite title="Source Title"> {{ comment.user }}</cite></footer>
            </blockquote>
            {% endfor %}
            
            <div class="container">
                
                    
                    <button class="btn btn-outline-success"><a href="{% url 'comment' image.id %}">comment</a></button>
            </div>
        </div>



{% endblock %}