{% extends "insta/base.html" %} 

{% block content %}
{{block.super}}

    <div class="container">
        <form method="POST" action="{% url 'follow' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{% if username %} {{username}} {% else %} munene {% endif %}">
            <button class="btn {% if is_following %}btn-default{% else %}btn-info{% endif %}">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
            
        </form>
    </div>


{% endblock %}