{% extends 'insta/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{{block.super}}
    <div class="container">
        <h1>{{user.username}}</h1>
        <p>{% include 'insta/follow.html' with username=user.username %}</p>
        <p>{{user.profile.bio}}</p>
        <div class="row">
            <div class="header"><img class="rounded-circle article-img" src="{{user.profile.profile_photo.cdn_url}}">

        </div>
    </div>  

    <div class="container" >
        <form method="POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="save">Update</button>
            </div>
        </form>
    </div>


{% endblock %}